*{
/*    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
      font-family: barlow-medium,barlow,sans-serif;

}
body{
    background: #F4F5F4;
}

p{
    color: #262626;
}
h1{
      color: black;
}
h2{
      color: black;
}   
.imgintestimonials{
    border-radius: 20px;
}

.imginsubrow{
    border-radius: 8px;
}

/* Using flexbox model*/
.row {
    display: flex;
}

.column50 {
    flex: 50%;

}

.column33{
    flex:33%;
    margin: 13px;
    border: solid black 2px;
    padding: 5px;
}

.left {
    display: inline;
    margin-left: none;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

  button:hover {
    background-color: grey;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  

#columnbuttons{
   position: relative; 
   top: 10%;
}

    .testimonials {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
  }
  
  .testimonial {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  
  .testimonial p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .testimonial .author {
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    }