navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0E0741;
  }
navbar li {
    display: inline; 
    float: left; /* block elements inline*/
    /* border-right: 1px solid #bbb; */
  }
  
navbar  a {
    display: block;
    padding: 8px;
    /* background-color: #dddddd; */
  }
navbar li a{ /*for text decoration*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
navbar li a:hover { /* hover*/
    background-color: #ababb9 ;
  }
navbar .active{
  background-color: #8236fd;
}
