navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black ;
    display: flex;
  }
navbar li {
    display: inline; 
    float: left; /* block elements inline*/
  }
  
navbar  a {
    display: block;
    padding: 8px;
    /* background-color: #dddddd; */
  }
navbar li a{ /*for text decoration*/
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
navbar li a:hover { /* hover*/
      background-color: #E97777;
      transition: 0.5s;

}
navbar .active{
    background-color: #F49D1A;
}
