@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}

body
{
	min-height: 100vh;
	background: linear-gradient(#850000,#DC3535);
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center ;


}
header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	list-style: none;
	margin-left: 20px;
}
header ul li a{
	padding: 6px 15px;
	color: white;
	border-radius: 15px;

}
header ul li a:hover{
	background-color: #DC0000;
}
header ul li a.active{
	background-color: #FFE15D;
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;

}

section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
}

